.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0.0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: showIn 1s ease-in-out forwards; 

    .modal-content{
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        opacity: 0;
        transform: translateY(-30px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out forwards;

        .modal-header{
            font-size: 1.5rem;
            padding-bottom: .25rem;
            padding-bottom: 1px solid #ccc;
            margin-bottom: 1rem;
        }

        .modal-footer{
            display: flex;
            border-top: 1px solid #ccc;
            margin-top: 1rem;
            gap: 1rem;
            justify-content: flex-end;
        }

        
    }
}

@keyframes fadeIn{
   
    to{
        opacity:1;
        transform:translateY(0)
    }
}

@keyframes showIn{
   
    to{
        opacity:1;
        
    }
}
