.main-footer {
    background-color: black;
    padding: 2rem;
    color: #ccc;
}

.footer-title {
    font-size: 25px;
    font-weight: 600;
    padding-top: 1.5rem;
  }
  
  .need-help {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .footer-link {
    text-decoration: none;
    color: #ccc;
    font-weight: 300;
    margin-top: 8px;
    padding-right: 8px;
    display: block;  
  }
  .social{
    display: flex;
    font-size: 25px;
  }
  .need-icon{
    font-size: 25px;
  }
  
  .footer-link:hover {
    color: #fff;
  }

  @media screen and (width > 1024px) {
    .main-footer {
        padding: .5rem 7rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: .8rem;
      } 

  }

  